.calendarTable {
  margin: 0 auto;

  tr {
    border: 1px solid #d7d7d7;

    & > td {
      border-right: 1px solid #d7d7d7;
      width: 34px;
      height: 64px;
      vertical-align: middle;
      text-align: center;

      &.calendarTable__dayOff {
        background-color: #f0f0f0;
      }

      & > span {
        display: block;

        &:first-child {
          font-size: 12px;
          line-height: 18px;
        }

        &:last-child {
          font-weight: 600;
          font-size: 14px;
          line-height: 21px;
        }
      }

      &:last-child {
        border-right: 0;
      }
    }
  }
}
